<!-- {{bool_check}} -->
<!-- Nav Item -->
<ng-template ngFor let-item [ngForOf]="numbers_calc">
<!-- [textButton]="item.value" -->
  <button-calc [itemIn]="item" (cuandoElCursorDaClick)="clickParent($event, item)"></button-calc>
</ng-template>

<hr class="sidebar-divider my-0">
<br>

<ng-template [ngIf]="bool_check">
  <input type="text" [(ngModel)]="model">
  <button type="button" (click)="functionShowMessage()">click</button>
  <h1>{{model}}</h1>
</ng-template>

<div class="d-block" *ngIf="model == 'clave'; else elseBlock">
  <input type="text" [(ngModel)]="model">
  <button type="button" (click)="functionShowMessage()">click</button>
  <h1>{{model}}</h1>
</div>
<ng-template #elseBlock>
  <p>
    Content to render when condition is false.
  </p>
</ng-template>

<!--
  if(condicion1 && condicion2){

  }
  if(condicion1 || condicion2){

  }
-->
